* {
  background-color: blanchedalmond;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caprasimo", cursive;
}

header {
  background-image: url(../styles/bk/bk_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px;
}
footer {
  background: #edeef3;
  padding-bottom: 17px;
  color: #6c757d;
  text-align: center;
}
.copyright:before {
  content: "";
  display: block;
  height: 1px;
  width: 986px;
  background-color: #ced4da;
  margin-bottom: 13px;
  margin-left: auto;
  margin-right: auto;
}
main {
}
h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 10px;
  color: black;

  margin-bottom: 4px;
  padding-bottom: 50px;
}
input {
  height: 64px;
  width: 820px;
  display: flex;
  justify-content: center;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 0 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  color: #abb5be;
  margin-bottom: 48px;
}

input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}


.container {
  display: flex;

}
.containerImput {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.containerCard{
  
  padding: 50px;
  padding-left: 150px;
  display: grid;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 100px;
  
}
.catCard {
  
  height: 500px;
  width: 500px;
  background:#dee2e6;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 24px;
}