* {
  background-color: blanchedalmond;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caprasimo", cursive;
}

header {
  background-image: url(../styles/bk/bk_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 135px;
}
footer {
  background: #edeef3;
  padding-bottom: 17px;
  color: #6c757d;
  text-align: center;
}
.copyright:before {
  content: "";
  display: block;
  height: 1px;
  width: 986px;
  background-color: #ced4da;
  margin-bottom: 13px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 10px;
  color: black;

  margin-bottom: 4px;
  padding-bottom: 50px;
}
li{
   list-style-type: none;
  font-size: 20px;

  line-height: 30px;
}
input {
  height: 64px;
  width: 820px;
  display: flex;
  justify-content: center;
  border: 1px solid #cd853f;
  border-radius: 4px;
  padding: 0 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  color: #abb5be;
  margin-bottom: 48px;
}

input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}


.container {
  display: flex;

}
.containerImput {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.containerCard{
  
  padding: 50px;
  padding-left: 150px;
  display: grid;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 100px;
  
}
.catCard {
  
  height: 500px;
  width: 500px;
  background:#cd853f;
  border: 1px solid #cd853f;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 24px;
}
.image{
  width: 100%;
  height: 400px;
  
}
.catName{
  font-size: 24px;
  line-height: 21px;
  background:#cd853f;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* дизайн кнопок */
.buttonCat{
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 100px 20px;
  position: relative;
  color:  #abb5be;
  border: 1px solid #cd853f;
  border-radius: 5px;
  background: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
.buttonCat:before, .buttonCat:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.buttonCat:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid #cd853f;
  border-top: 1px solid#cd853f;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.buttonCat:after {
  top: 0;
  right: 0;
  border-right: 1px solid #cd853f;
  border-bottom: 1px solid #cd853f;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}
.buttonCat:hover:before, 
.buttonCat:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.buttonCat:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}
.buttonCat:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}
.buttonCat:hover {
  background: rgba(255, 255, 255, .2);
}